<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pinterest</title>
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>
  <body>
    <div id="algn">
      <div id="card">
        <div id="upper-bg">
          <img
            src="/images/profile.png"
            alt="profile-pic"
            class="profile-pic"
          />
        </div>
        <div id="lower-bg">
          <div class="text">
            <p class="name">Dikshant Jatrana</p>
            <p class="title">
              Web developer & <br />
              Competitive programmer
            </p>
          </div>
          <div id="icons">
            <a href="#" class="ico"
              ><img
                width="48"
                height="48"
                src="https://img.icons8.com/color/48/gmail-new.png"
                alt="gmail-new"
            /></a>
            <a href="#" class="ico">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/fluency/48/github.png"
                alt="github"
              />
            </a>
            <a href="#" class="ico">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/color/48/linkedin.png"
                alt="linkedin"
              />
            </a>
            <a href="#" class="ico">
              <img
                width="48"
                height="48"
                src="https://img.icons8.com/color/48/facebook-new.png"
                alt="facebook-new"
              />
            </a>
          </div>
          <div id="btn">
            <button class="msg">Subscribe</button>
            <button class="msg">Message</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
